<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<div leftmargin="0" marginheight="0" marginwidth="0" topmargin="0" style="margin:0; padding:0; background-color:#DEE0E2; height:100%; width:100%">
  <center>
  <table id="x_bodyTable" style="margin:0; padding:0; background-color:#DEE0E2; border-collapse:collapse; height:100%; width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" align="center" height="100%">
  <tbody>
  <tr>
  <td id="x_bodyCell" style="margin:0; padding:20px; border-top:4px solid #BBBBBB; height:100%; width:100%" valign="top" align="center">
  <table id="x_templateContainer" style="max-width:600px; border:0px solid #BBBBBB; border-collapse:collapse; border-radius:4px 4px 0 0; overflow:hidden" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
  <td valign="top" align="center">
  <table id="x_templateHeader" style="background-color:#eeeeee; border-top:0px solid #FFFFFF; border-bottom:0px solid #CCCCCC; border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
  <td class="x_headerContent" style="color:#333333; font-family:Helvetica; font-size:20px; font-weight:bold; line-height:100%; padding-top:20px; padding-right:0; padding-bottom:20px; padding-left:20px; text-align:left; vertical-align:middle" valign="top">
    {{.FromName}}
  </td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  <tr>
  <td valign="top" align="center">
  <table id="x_templateBody" style="background-color:#FFFFFF; border-top:0px solid #FFFFFF; border-bottom:0px solid #CCCCCC; border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
  <td class="x_bodyContent" style="color:#505050; font-family:Helvetica; font-size:14px; line-height:150%; padding-top:20px; padding-right:20px; padding-bottom:20px; padding-left:20px; text-align:left" valign="top">
    {{.Message}}
  </td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
  <p style="color:#999; font-family:Helvetica; font-size:14px">Invoice sent from <a href="http://www.in-voicer.com"
    target="_blank"
    rel="noopener noreferrer"
    style="color:#606060; font-weight:normal; text-decoration:underline">
      in-voicer.com
    </a>
  </p>
  </td>
  </tr>
  </tbody>
  </table>
  </center>
</div>